div {
	font-size: xx-large;
}

img {
	height: 400px;
	width: 300px;
	float: right;
	margin-right: 10px;
}

p {
	border: 0px solid red;
	background-color: blanchedalmond;
	clear: both;
}

/*
https://stackoverflow.com/questions/53457727/why-is-text-wrapping-around-a-floating-element-instead-of-going-belows-like-anot#:~:text=This%20is%20by%20design%20as,a%20part%20of%20the%20flow.
*/
